{% extends 'layout/base_layout.html' %}
{% load static %}
{% block content %}
    <div class="form-container">
        <div class="form">
            <h1 class="title">Instagram</h1>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="submit_btn" type="submit" value="로그인">
            </form>
        </div>
        <div class="shortcut">
            <p class="signup-link">아이디가 없으신가요? <a href="{% url "accounts:signup" %}">회원가입</a></p>
        </div>
    </div>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
{% endblock %}