{% extends 'layout/base_layout.html'  %}
{% load static %}
{% block content %}
    <div class="form-container">
        <div class="form">
            <h1 class="title">Instagram</h1>
            <form action="" method="post" enctype="multipart/form-data">
                <div style="position: relative;">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="submit_btn" type="submit" value="가입">
                </div>
            </form>
        </div>
        <div class="shortcut">
            <p class="link">계정이 있으신가요? <a href="{% url "accounts:login" %}">로그인</a></p>
        </div>
    </div>
{% endblock %}

{% block css %}
    <link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
{% endblock %}

{% block js %}
    <script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        $(function () {
            $('.datetime-input').datetimepicker({
                format:'YYYY-MM-DD'
            });
        });
    </script>
{% endblock %}